<table class="table table-striped table-hover leaderboard-table"
  id="leaderboard-table-<%= board.title.parameterize %>">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <% board.members.each do |user| %>
    <tr>
      <td class="text-center number">
        <span class="<%= "medal-#{user.index}" %>"><%= user.index %></span>
      </td>
      <td>
        <%= image_tag(user.picture, alt: 'picture', class: 'user-image') %>
        <%= link_to(user.name, prediction_path(user.prediction_set)) %>
      </td>
      <td class="text-center number"><%= user.prediction_set.points %></td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(document).ready(function() {
     $('#leaderboard-table-<%= board.title.parameterize %>').DataTable({
       retrieve: true,
       // iDisplayLength: 50,
       searching: false,
       lengthChange: false,
       autoWidth: false,
       info: false,
       paging: false,
       columns: [
         { orderable: false },
         { orderable: false },
         { type: "num" }
       ],
       order: [[ 2, "desc" ]]
    });
  });
</script>
