<tr class="prediction-row">
  <td class="text-center"><%= prediction.match.number %></td>
  <td class="">
    <%= local_time(prediction.match.date, :long) %>
    <% if prediction.match.phase.level == 1 %>
      (<%= prediction.match.phase.name %>)
    <% end %>
  </td>
  <td class="text-right">
    <span class="hidden-sm hidden-xs"><%= prediction.match.team1.name %></span>
    <%= image_tag(prediction.match.team1.flag, class: 'flag') %>
    <span class="score-box"><%= prediction.score1 || '-' %></span>
  </td>
  <td class="text-center score-label"><%= prediction.match.score_label %></td>
  <td>
    <span class="score-box"><%= prediction.score2 || '-' %></span>
    <%= image_tag(prediction.match.team2.flag, class: 'flag') %>
    <span class="hidden-sm hidden-xs"><%= prediction.match.team2.name %></span>
  </td>
  <td class="text-center points">
    <%= prediction.points %>
    <% if prediction.points.present? %>
      <span class="<%= points_color(prediction.points) %>">
        <span class="glyphicon glyphicon-<%= points_icon(prediction.points, prediction.match.phase) %>"></span>
      </span>
    <% end %>
  </td>
</tr>
