<table id="matches-table" class="table table-striped" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Phase</th>
      <th>Team 1</th>
      <th>Team 1 Score</th>
      <th>Team 2 Score</th>
      <th>Team 2</th>
      <th>Closed?</th>
      <th>Points Updated?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% matches.each do |match| %>
    <tr>
      <td><%= match.number %></td>
      <td><%= I18n.l match.date, format: :short %></td>
      <td><%= match.phase.name %></td>
      <td><%= match.team1.name if match.team1 %></td>
      <td><%= match.team1_score %></td>
      <td><%= match.team2_score %></td>
      <td><%= match.team2.name if match.team2 %></td>
      <td><%= yes_no_label(match.closed?) %></td>
      <td><%= yes_no_label(match.ready) %></td>
      <td>
        <%= link_to edit_admin_match_path(match), remote: true,
          class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to points_admin_match_path(match), remote: true,
          class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-refresh"></span> Run
        <% end %>
        <%= link_to change_lock_admin_match_path(match), remote: true, method: :post,
          class: 'btn btn-default btn-sm' do %>
          <% if match.is_closed %>
            <span class="fa fa-unlock"></span>
          <% else %>
            <span class="fa fa-lock"></span>
          <%end%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(document).ready(function() {
     $('#matches-table').DataTable({
       retrieve: true,
       iDisplayLength: 64,
       paging: false,
       info: false,
       columns: [
         { type: "num" },
         { type: "string" },
         { type: "string" },
         { type: "string" },
         { orderable: false },
         { orderable: false },
         { type: "string" },
         { type: "string" },
         { type: "string" },
         { orderable: false }
       ]
    });
  });
</script>
