<div class="container page">
<h1>Groups</h1>
<% @groups.each do |group|%>
    <h2>Group <%= group.code%></h2>
    <table id="group-table" class="table table-striped">
        <thead>
            <th>Pos</th>
            <th>Team</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>+/-</th>
            <th>PTS</th>
        </thead>
        <tbody>
            <%group.teams.each_with_index do |team, index|%>
                <tr>
                    <td class="column"><%= index + 1 %></td>
                    <td class="team">
                        <%= image_tag(team.flag, class: 'flag') %>
                        <%= team.name%>
                    </td>
                    <td class="column"><%=team.matches_played%></td>
                    <td class="column"><%=team.win%></td>
                    <td class="column"><%=team.draw%></td>
                    <td class="column"><%=team.lost%></td>
                    <td class="column"><%=team.goal_in_favor%></td>
                    <td class="column"><%=team.goal_against%></td>
                    <td class="column"><%=team.goal_difference%></td>
                    <td class="column"><%=team.points%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
<% end %>
</div>
