<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application-login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/messages', flash: flash %>
    <%= yield %>
  </body>
</html>
